<div class="form">
  <div class="field has-addons">
    <div class="control match-parent">
      <form class="example-form match-parent">
        <div class="control match-parent">

          <mat-form-field class="example-full-width match-parent">
            <input #query matInput placeholder="Pokemon" aria-label="Pokemon" [matAutocomplete]="auto"
                   [formControl]="myControl">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let pokemon of filteredPokemon | async" [value]="pokemon.name" (click)="onOptionClick(pokemon)">
                <img class="example-option-img" aria-hidden [src]="pokemon.pngUrl" height="35" width="35">
                <span>{{pokemon.name}}</span>
              </mat-option>
            </mat-autocomplete>
            <a matSuffix aria-label="search" class="button is-info" [routerLink]="['/search', query.value]">
              <mat-icon><i class="fa fa-search"></i></mat-icon>
            </a>
          </mat-form-field>
        </div>
      </form>
    </div>

  </div>
</div>
