<section class="section">
  <div class="container" *ngIf="pokemon && pokemonTypeStat">
    <div class="columns is-multiline">
      <div class="column is-half is-full-mobile">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img [src]="pokemon.sprites.front_default" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{pokemon.name}}</p>
                <p class="subtitle is-6">{{pokemon.base_experience}}</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half is-full-mobile">
        Twitter
      </div>
      <div class="column is-full is-full-mobile">
        <table class="table is-fullwidth">
          <thead>
          <tr>
            <td>Type</td>
            <td *ngFor="let s of pokemonTypeStat[0][1]">{{s.stat.name}}</td>
            <td>Average</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let stat of pokemonTypeStat">
            <td><span [ngClass]="generateClassForType(stat[0])">{{stat[0]}}</span></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
